
        *{
            font-weight: bold;
        }
        #display{
            font-family: 'Source Sans Pro', sans-serif;
            height: 40px;
            width: 210px;
            text-align: right;
            background-color: #bccd95;
            display: inline-block;
            font-size: 30px;

        }
        .btn{
            height: 40px;
            width: 40px;
            border-radius: 30px;
            background-color: rgb(15, 15, 15);
            color: rgb(255, 255, 255);
            margin: 5px;
            margin-bottom: 15px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            cursor: pointer;
            font-size: x-large;
        }
        .color{
            background-color: rgb(255, 204, 0);
            height: 40px;
            width: 40px;
            border-radius: 30px;
            color: rgb(0, 0, 0);
            margin: 5px;
            border-width: 0px;
            font-size: x-large;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            cursor: pointer;
            
        }
        .color1{
            cursor: pointer;
            background-color: rgb(255, 111, 0);
            height: 40px;
            width: 40px;
            /* display: none; */
            border-radius: 30px;
            color: rgb(0, 0, 0);
            margin: 5px;
            border-width: 0px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            font-size: x-large;
        }
        .color1:hover, .color:hover{
            cursor: pointer;
            box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);
            }
        .btn:hover{
            cursor: pointer;
            box-shadow: none;
            
            box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);
            }
        #calci{
            display: inline-block;
            background-color: rgb(114, 114, 114);
            height: max-content; 
            padding: 20px;
            border-radius: 8%;
        }
        #mul{
            font-size: large;
        }

        